<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form Document</title>
</head>
<body>
    <h1>Forms in HTML</h1>
    <form action="/submit_data" method="post" accept-charset="utf-8" autocomplete="off" enctype="">

      <label for="fname">First Name</label>
      <input type="text" placeholder="first name" name="fname" id="fname"><br><br>

      <label for="lname">Last Name</label>
      <input type="text" placeholder="last name" name="lname" id="lname"><br><br>

      <select name="gender" id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select><br><br>
  
      <button type="submit">Done</button>
    </form>
</body>
</html>